<h1>Editing User</h1>

<p>
  <%= render 'form', user: @user %>
</p>

<p>
  <%= link_to "Delete Profile", profile_delete_path, class: "btn btn-d edit_avatar" %>
</p>

<p>
  <%= link_to "Return to Profile", user_path, class: "btn btn-default edit_avatar" %>
</p>
