<div class="center">
  About Us
</div>

<div id="content">
  <div class="center2">
    <img src="/assets/nick.jpg" alt="Nick" style="width: 400px; height: 400px; transform: scale(0.7); border-radius: 50em;">
    <br>
    Nick Duncan
    <div id="phone">
    (704) 502-4810
    </div>
    <div id="phone">
    <a href="https://www.linkedin.com/in/nickeduncan/">LinkedIn</a>
    </div>
    <div id="phone">
    <a href="https://github.com/nickeduncan/">GitHub</a>
    </div>
  </div>
 </div>
</div>

<div id="sidebar">
  <div class="center2">
    <img src="/assets/philip.jpg" alt="Philip" style="width: 400px; height: 400px; transform: scale(0.7); border-radius: 50em;">
    <br>
    Philip de la Cal
    <div id="phone2">
    (954) 461-7629
    </div>
    <div id="phone2">
    <a href="https://www.linkedin.com/in/philipdelacal/">LinkedIn</a>
    </div>
    <div id="phone2">
    <a href="https://github.com/pdelacal">GitHub</a>
    </div>
  </div>
</div>
