/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   margin: 0;
   padding: 0;
 }

 .modal-body {
  text-align: center;
 }

#login_body {
  display: inline-flex;
  margin: auto;
}

.login_buttons {
  font-size: 1.5em;
  margin: 0.8em;
  padding: 1em;
}

#mobile_login_buttons {
  display: none;
}

.tab-pane {
  padding: 2em;
}

input {
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

label {
  font-size: 1.5em;
  padding: 0.3em 0 0.3em
}

.btn-default {
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 0.5em 0 0;
    background-color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

hr {
  border-color: #fff;
}

@media (max-width: 700px) {

  #login_body {
    display: block;
  }

  #mobile_login_buttons {
    display: block;
  }

  .login_buttons {
    font-size: 2em;
  }
}
