// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-slides {
  height: 35em;

  img.photo-slide {
    display: none;
    margin: 2em auto 0 auto;
    height: 35em;
    border: 4px solid #fff;

    &.active {
      display: block;
    }
  }
}

.glyphicon-chevron-left {
    position: relative;
    top: -7em;
    font-size: 3em;
    left: 3em;
    color: white;
    text-shadow: 0 0 2px #bbb;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    padding: 0.3em;

    &:hover {
      box-shadow: 1px 1px 3px 6px #99e0ff;
    }
}


.glyphicon-chevron-right {
    /* float: left; */
    position: relative;
    top: -7em;
    font-size: 3em;
    right: 3em;
    color: white;
    text-shadow: 0 0 2px #bbb;
    float:right;
    border-radius: 50%;
    text-shadow: 0 0 2px #bbb;
    background-color: rgba(0,0,0,0.3);
    padding: 0.3em;

    &:hover {
      box-shadow: 1px 1px 3px 6px #99e0ff;
    }
}

.profile_picture {
  &.listing-profile {
    float: right;
    margin-top: -15em;
    position: relative;
  }
}

.listing-info-bar {
    display: inline-flex;
    float: right;
    margin: 0 -0.1em -0.1em 0;

  .listing_info {
    background-color: #fff;
    border-bottom: 1px solid #ccc;


    &.info-rent {
      width: 25em;
      border-right: 1px solid #ccc;
      display: inline-flex;

      h3 {
        font-size: 3em;
        margin: auto -0.7em auto 1em;
      }
    }

    &.info-date {
      width: 18em;
      border-right: 1px solid #ccc;
    }

    &.info-duration {
      width: 20em;
      border-right: 1px solid #ccc;

    }

    &.info-description {
    width: 63em;
    margin-top: 0.1em;
    }
  }
}
