// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}
.homepageimg {
  height: 75em;
  background-position: center;
  background-image: url(/assets/people.jpg);
  background-repeat: no-repeat;
}

#homebody {
  font-family: 'Roboto', sans-serif;
  color: white;
}

#hometitle {
  font-family: 'Roboto', sans-serif;
  color: white;
}
