// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}
.homepageimg {
  margin-top: 3.5em;
  height: 75em;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/assets/people.jpg) 100% no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

#homebody {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.searchbar {
  font-size: 2.80em;
  margin-top: 0.5em;
  border-radius: 0;
}

#hometitle {
  padding-top:3.0em;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#term {
  height: 2.5em;
  margin-right: 50%;
  font-size: 2em;
  border-radius: 0;
}

.search-form {
  padding: 20px 0;
  text-align:center;
  border-radius: 0;
}

.searchbar {
  text-align: center;
  border-radius: 0;
}

@media (max-width: 475px) {
  .homepageimg: url(/assets/decor.jpg/400/600);
  background-size:100%;
  width:100%;
}

#navbar {
  color: #4d4d4d;
  font-family: 'Marcellus SC', serif;
  font-size: medium;
  background: white;
  background-image: none;
  text-decoration: none;
}

a:visited {
  color: #4d4d4d;
}

a:hover {
  background: white;
  background-image: none;
  text-decoration: none;
  color: red;
}

.btn-square {
  border-radius: 0;
}

#navbutton {
}

.navbar-left {
  font-size: 1.2em;
  color: gray;
  background: white;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  margin-left: 0.75em;
}

.navbar-right {
  font-size: 1.2em;
  margin-right: 0.05em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0.75em;
}

#navbtn {
  color: gray;
  background: white;
  padding: 10px 0px 10px 20px;
  text-decoration: none;
}

#navbtn:hover {
  background: white;
  background-image: none;
  text-decoration: none;
}

#userbtn {
  color: gray;
  background: white;
  padding: 10px 0px 10px 10px;
  text-decoration: none;
}

#userbtn:hover {
  background: white;
  background-image: none;
  text-decoration: none;
}

#welcome {
  color: gray;
  background: white;
  padding: 10px 0px 10px 20px;
  text-decoration: none;
}

.jumbotron {
  background-size: cover;
}
